body {
  font-family: "Spartan", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Calibri, sans-serif;
}

p {
  font-size: 1rem;
}

/* Header Styling for all sub-pages */
#subpage-header {
  border: 4px black;
  border-style: none solid solid solid;
}

h3 {
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
}

/* Nav Bar Styling */
.navbar-toggler,
.navbar-toggler-icon,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0px;
}

nav {
  box-shadow: 0px 1px 10px #999;
}

a:hover {
  font-weight: bold;
}

/* Footer Styling */
footer {
  background-color: #f8f9fa;
  padding: 2rem;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
}

footer i {
  color: black;
  margin-bottom: 2rem;
}

/* Home Page Styling */
h1 {
  font-weight: bold;
  font-size: 3rem;
}

#about h2 {
  font-size: 1.2rem;
  text-decoration: underline;
}

#about {
  border: 4px black;
  border-style: solid solid solid none;
  padding-top: 2rem;
  padding-bottom: 0.8rem;
}

@media only screen and (max-width: 768px) {
  #about {
    border: none;
  }
}

/* section styling to avoid white space under footer on home page */
#about {
  min-height: 68vh;
}

/* Experience Page Styling */
#journalism-experience-header,
#on-campus-header {
  margin-top: 2rem;
  border: 4px black;
  border-style: solid solid none solid;
}

#tech-experience .card,
#journalism-experience .card,
#on-campus .card {
  margin: 1rem 0;
  padding: 1.25rem;
  box-shadow: 0px 0.5px 10px #999;
  transition: all 0.8s ease-in;
}

#tech-experience .card img,
#journalism-experience .card img,
#on-campus .card img {
  max-width: 200px;
  margin: 1rem;
}

.not-visible {
  opacity: 0;
}

.is-visible {
  opacity: 1;
  transform: translateY(-0.7em);
}

/* Tech Projects Page Styling */
#tech-projects .card-wrapper {
  margin: 1rem 0;
}

#tech-projects .card {
  margin: 0 1rem;
  padding: 1.25rem;
  box-shadow: 0px 0.5px 10px #999;
  transition: all 0.2s ease-in-out;
}

#tech-projects .card-group {
  margin: 2rem 0;
}

#tech-projects .card-img-top {
  margin-bottom: 1rem;
}

.modal-img,
#tech-projects video {
  max-width: 550px;
  margin: 1.5rem 0;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .modal-img,
  #tech-projects video {
    max-width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .modal-img,
  #tech-projects video {
    max-width: 320px;
  }
}

.modal-img-fig {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0.8rem;
}

.modal-img-caption {
  font-style: italic;
  font-size: 0.8rem;
}

.close,
.close:focus,
.close:active,
.close:focus {
  outline: none;
  box-shadow: none;
  border: 0px;
  background-color: white;
}

#tech-projects h5 {
  font-size: 0.9rem;
}

.btn {
  font-style: italic;
}

.btn:hover {
  font-weight: bold;
}

/* Design Page Styling */
#design .card {
  margin: 1rem 0;
  padding: 1.25rem;
  box-shadow: 0px 0.5px 10px #999;
  transition: all 0.8s ease-in;
}

#design .card-img {
  margin: 1rem;
}

#design p {
  font-style: italic;
  font-size: 0.9rem;
}

#epicdesign .vert-img,
#promodesign .vert-img {
  max-width: 220px;
}

#promodesign .sq-img {
  max-width: 300px;
}

#promodesign .hor-img {
  max-width: 350px;
}

/* Photo Page Styling */
#photo .card {
  margin: 1rem 0;
  padding: 1.25rem;
  box-shadow: 0px 0.5px 10px #999;
  transition: all 0.8s ease-in;
}
#photo .card-img {
  margin: 1rem;
}

/* Contact Page Styling */
#contact {
  border: 4px black;
  border-style: solid none solid solid;
  padding: 2rem;
}

@media only screen and (max-width: 768px) {
  #contact {
    border: none;
  }
}

#contact-info h2 {
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (min-height: 750px) {
  /* section styling to avoid white space under footer on contact page */
  #contact {
    min-height: 63vh;
  }
}
